{% extends 'playlist/base.html' %}

{% block title %}Create Playlists{% endblock %}

{% block crumbs %}
    &rsaquo; <a href="{% url 'music:index' %}">Music</a>
{% endblock %}

{% block content %}
<ul class="nav nav-pills">
		<li><a href="{% url 'music:index' %}">Albums</a></li>
		<li><a href="{% url 'music:songs' %}">Songs</a></li>
		<li class="active"><a href="{% url 'playlist:index' %}">Playlists</a></li>
		<li class="search">
			<nav class="navbar navbar-light bg-light justify-content-between" role="search" method="get" action="">
				<form class="form-inline">
					<input class="form-control mr-sm-2" type="text" class="form-control" name="q" value="{{ request.GET.q }}" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="glyphicon glyphicon-search"></i></button>
				</form>
			</nav>
		</li>
	</ul>
{% endblock %}

{% block player %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4 col-md-4 col-xs-8 col-sm-offset-4 col-md-offset-4 text-center header">
			<span><font size="6"><b>Create Playlists</b></font></span>
		</div>
	</div>
</div>

{% if user.is_authenticated %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-xs-12 col-sm-offset-3 col-md-offset-3 text-center">
				<div class="panel panel-default">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th colspan="6" class="text-center">Select one of these to create playlist</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="{% url 'playlist:create_album' %}">Create by merging albums</a></td>
									<td><a href="{% url 'playlist:create_random' %}">Create by selecting random songs</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% endblock %}