{% extends 'accounts/teamBase.html' %}

{% load static %}

{% block title %}Homemaker Assistance System{% endblock %}

{% block content %}

<section id="speakers">
	<h3>Meet the Team</h3> <!-- Section Title -->
	<div class="separator"></div>
		<div class="container">	
		<!-- First Row of Speakers -->
		<div class="row1">
		
			<!-- Speaker 1 -->
			<div class="col-md-4">
				<a href="#" class="member-profile">
					<div class="unhover_img">
					<img src="/media/jmg.png" alt="" />
					</div>
					<div class="hover_img">
					<img src="/media/jmg.png" alt="" />
					</div>
					<span>Project Guide</span>
					<h4><span>Jora </span> Gonda</h4>
				</a>	
				<ul>
					<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#" target="_blank"><i class="fa fa-foursquare"></i></a></li>						
				</ul>
			</div>
			
			<!-- Speaker 2 -->
			<div class="col-md-4">
				<a href="#" class="member-profile">
					<div class="unhover_img">
					<img src="/media/akhil.jpg" alt="" />
					</div>
					<div class="hover_img">
					<img src="/media/akhil.jpg" alt="" />
					</div>
					<span>App Developer   </span>
					<h4><span>Akhilesh</span> Gonabal</h4>
				</a>	
				<ul>
					<li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
					<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>
			
			<!-- Speaker 3 -->
			<div class="col-md-4">
				<a href="#" class="member-profile">
					<div class="unhover_img">
					<img src="/media/bishal.jpg" alt="" />
					</div>
					<div class="hover_img">
					<img src="/media/bishal.jpg" alt="" />
					</div>
					<span>App Developer   </span>
					<h4><span>Bishal</span> Jaiswal</h4>
				</a>					
				<ul>
					<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>						
					<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>						
				</ul>					
			</div>
		</div>
	</div>
</section>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> <!-- Load jQuery -->

{% endblock %}
